# =========================
# Add myself
# =========================

/CapsLock+run
/CapsLock icon
/old_version
/img
/clgif
/.vscode
/wb/node_modules
# ignore files
CapsLock+hotString.ini
CapsLock+winsInfo.ini
CapsLock+settings.ini
CapsLock+winsInfosRecorder.ini
CapsLock+settingsDemo.ini
youdaoApiKey.ahk
gain.md

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
